{plugins,
 [{'lfe-compile',
   {git, "git://github.com/lfe-rebar3/compile.git",
    {tag, "0.3.0"}}}]}.

{provider_hooks,
 [{pre, [{compile, {lfe, compile}}]}]}.

{deps,
 [{lfe,
   {git, "git://github.com/rvirding/lfe.git",
    {tag, "1.0"}}}]}.

{profiles,
 [{test,
   [{eunit_compile_opts, [{src_dirs, ["src", "test"]}]},
    {deps,
     [{ltest,
       {git, "git://github.com/lfex/ltest.git",
        {tag, "0.8.0"}}}]}]}]}.
