{plugins, [{'lfe-compile', "0.6.0", {pkg, rebar3_lfe_compile}}]}.

{provider_hooks, [{post, [{compile, {lfe, compile}}]}]}.

{deps, [{lfe, "1.1.1"}]}.

{profiles,
 [{test,
   [{eunit_compile_opts, [{src_dirs, ["src", "test"]}]},
    {deps,
     [{ltest,
       {git, "git://github.com/lfex/ltest.git",
        {tag, "0.9.0"}}}]}]}]}.
